.login-page {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* IZQUIERDA */
.login-left {
  flex: 1;
  padding: 60px;
}

.logo {
  width: 140px;
}

.subtitle {
  color: #555;
}

.register-text span {
  color: #ff6a00;
  font-weight: bold;
  cursor: pointer;
}

.illustration {
  margin-top: 40px;
  width: 280px;
}

/* DERECHA */
.login-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 360px;
}

.login-form h2 {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.login-button {
  width: 100%;
  padding: 12px;
  background: #ff6a00;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.forgot {
  margin: 10px 0;
  font-size: 14px;
  color: #999;
  text-align: right;
}

.social-login {
  text-align: center;
  margin-top: 20px;
}

.icons button {
  margin: 0 6px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
}
